body {
    background-color: rgb(245, 245, 245);
}

.header-style{
    text-align: center;
    background-color: black;
    color: white;
    margin: 0 auto;
    padding: 0.5% 0;
}

.white-background {
    background-color: rgb(255, 255, 255);

}



.border{
    border: 1px solid black;
}

#currentwather{
    margin: 0 0;
    padding: 50px;
    
}

.location{
    padding: 15px;
}

.center{
    text-align: center;
}

#search-box{
    background-color: rgb(245, 245, 245);
    height: 100%;

}

#city-input{
  
}


#search-button{
   
}

#list-tab{
    margin-top: 10px;
    width: 90%;
}



.city-buttons-list{
    width: 100%;
}

.list-group-item-action{
    width: 100%;
}



.fortcast {
text-align: center;
height: 100%;
background-color: rgb(79, 131, 216);
margin: 1%;

}

#days-forecast {
margin: 0 auto;
width: 100%;

}

#city-name-div{
    margin: 3% 3% 3% 1%;

}